@CHARSET "UTF-8";

/*
　タグセレクタ
　　任意のタグに対してスタイルを設定する

　構文
　　タグ名{
  	　スタイル
  　}
 */
p {
	color: red;
	background-color: black;
}

/*
　IDセレクタ
　　任意のIDに対してスタイルを設定する

　構文
　　#ID{
  	　スタイル
  　}
*/
#id1 {
	color: green;
}

/*
　クラスセレクタ
　　任意のクラスに対してスタイルを設定する

　構文
　　.クラス名{
  	　スタイル
  　}
*/
.c1 {
	color: yellow;
}