@CHARSET "UTF-8";

body {
	background-color: #ccffff;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

th {
	background-color: #ff00ff;
}

td {
	background-color: #ffffcc;
	text-align: left;
}

li {
	list-style-type: none;
}